* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* overflow: hidden; */
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 80px 1fr 60px;
  width: 80%;
  height: 80%;
  /* width: 100%; */
  /* height: 100%; */
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid red;
}

nav {
  grid-column: 1/ 4;
  grid-row: 1 / 2;
  /* border: 1px solid red; */
}
aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
}
section {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  /* border: 1px solid red; */
  display: flex;
}
footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  /* border: 1px solid blue; */
  display: flex;
}

@media screen and (max-width: 479px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  nav {
    flex: 0 0 90px;
    border: 1px solid red;
  }
  aside {
    flex: 0 0 80px;
    border: 1px solid red;
  }
  section {
    /* flex: 1 0 250px; */
    /* flex: 1 0 200px; */
    /* flex: 0 1 300px; */

    /* max-height: 200px; */
    flex: 0 1 auto;
    min-height: 300px;

    /* min-height: 0; */
  }
  footer {
    flex: 0 1 50px;
    /* flex: 0 1 auto; */
    /* height: 50px; */
    border: 1px solid red;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  nav {
    flex: 0 0 90px;
    border: 1px solid blue;
  }
  aside {
    border: 1px solid blue;
  }
  section {
    flex: 0 1 auto;
    min-height: 300px;
    border: 1px solid blue;
  }
  footer {
    border: 1px solid blue;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    /* border: 3px solid red; */
  }
  .content-wrapper {
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 80px 1fr 60px; */
    grid-template-rows: 80px minmax(200px, 1fr) 60px;
    max-width: 768px;
    max-height: 700px;
  }
  nav {
    border: 1px solid red;
  }
  aside {
    border: 1px solid red;
  }
  section {
    border: 1px solid red;
  }
  footer {
    border: 1px solid red;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .content-wrapper {
    grid-template-columns: 1.2fr 4fr;
    /* grid-template-rows: 90px 1fr 65px; */
    grid-template-rows: 90px minmax(400px, 1fr) 65px;
    max-width: 1024px;
    max-height: 850px;
    /* padding: 0.15rem 0; */
    /* padding: 0.2rem 0; */
  }
  nav {
    border: 1px solid blue;
  }
  aside {
    border: 1px solid blue;
  }
  section {
    border: 1px solid blue;
  }
  footer {
    border: 1px solid blue;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .content-wrapper {
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 100px 1fr 70px;
    max-width: 1280px;
    max-height: 900px;
    padding: 0.225rem 0;
  }
  nav {
    border: 1px solid red;
  }
  aside {
    border: 1px solid red;
  }
  section {
    border: 1px solid red;
  }
  footer {
    border: 1px solid red;
  }
}
@media screen and (min-width: 1440px) {
  .content-wrapper {
    grid-template-columns: 1.4fr 5fr;
    grid-template-rows: 110px 1fr 75px;
    max-width: 14400px;
    max-height: 1000px;
    padding: 0.25rem 0;
  }
  nav {
    border: 1px solid blue;
  }
  aside {
    border: 1px solid blue;
  }
  section {
    border: 1px solid blue;
  }
  footer {
    border: 1px solid blue;
  }
}
