.modal-container {
  display: none;
}

.show-modal-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 8, 8, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: #4d4d4d;

  border-radius: 0.25rem;
  /*아래 확인후  제대로된 위치 넣거나 삭제하기 max-width,height*/
  /* max-width: 800px; */
  /* max-height: 500px; */
  overflow: hidden;
}
.modal-content h2 {
  flex: 0 0 64px;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  /* font-size: 1.6rem; */
  background-color: #000;
  color: yellow;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.modal-items-list {
  flex: 1;
  display: flex;
  /* padding: 0.25rem; */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  overflow: hidden;
  /* border: 1px solid red; */
}
.order-btn {
  /* flex: 0 0 50px; */
  flex: 0 0 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4d4d;
}

.close-modal-btn,
.add-cart-btn {
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.close-modal-btn {
  flex: 0 35%;
  /* background-color: #fff; */
  background-color: #b0b0b0;
  color: #000;
  border-bottom-left-radius: 0.25rem;
}
.add-cart-btn {
  flex: 1;
  background-color: #ffeb3b;
  color: #000;
  border-bottom-right-radius: 0.25rem;
}

.close-modal-btn .icon,
.add-cart-btn .icon {
  margin-right: 8px;
  /* font-size: 1.3rem; */
  line-height: 1;
}
.close-modal-btn span,
.add-cart-btn span {
  line-height: 1;
}
.close-modal-btn:hover {
  background-color: #757575;
  background-color: rgba(255, 255, 255, 0.678);
  color: #fff;
  color: #000;
}
.add-cart-btn:hover {
  background-color: #fbc02d;
  color: #fff;
  color: #000;
}

@media screen and (max-width: 479px) {
  .modal-content {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    transform: translateY(90px);
    max-height: calc(100% - 90px);
    width: 100%;
    height: 100%;
    padding: 0.35rem;
  }
  .modal-content h2 {
    flex: 0 0 60px;
    padding-left: 0.5rem;
    font-size: 1.4rem;
  }
  /*공통패딩*/
  /* .modal-items-list {
    padding: 0.25rem;
  } */
  .order-btn {
    flex: 0 0 50px;
    /* margin-top: 0.25rem; */
  }
  .close-modal-btn,
  .add-cart-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal-content {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(90px);
    max-height: calc(100% - 90px);
    max-width: 800px;
  }
  .modal-content h2 {
    flex: 0 0 62px;
    padding-left: 0.75rem;
    font-size: 1.45rem;
  }

  .order-btn {
    flex: 0 0 52px;
    /* margin-top: 0.25rem; */
  }
  .close-modal-btn,
  .add-cart-btn {
    font-size: 1.05rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal-content {
    width: 70%;
    height: 90%;
    /*전체 100% 기준*/
    /* max-width: 400px; */
    /* max-height: 700px; */
    max-width: 70vw;
    max-height: 80vh;
  }
  .modal-content h2 {
    flex: 0 0 64px;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  /* .modal-items-list {
    padding: 0.25rem;
  } */
  .order-btn {
    flex: 0 0 54px;
  }
  .close-modal-btn,
  .add-cart-btn {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .modal-content {
    width: 80%;
    height: 90%;
    /**/
    /* max-width: 500px; */
    /* max-height: 700px; */
    max-width: 70vw;
    max-height: 80vh;
  }
  .modal-content h2 {
    flex: 0 0 66px;
    padding-left: 1.05rem;
    font-size: 1.6rem;
  }
  /* .modal-items-list {
    padding: 0.275rem;
  } */
  .order-btn {
    flex: 0 0 56px;
  }
  .close-modal-btn,
  .add-cart-btn {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .modal-content {
    width: 75%;
    height: 90%;

    /**/
    /* max-width: 600px; */
    /* max-height: 800px; */
    max-width: 60vw;
    max-height: 80vh;
  }
  .modal-content h2 {
    flex: 0 0 68px;
    padding-left: 1.1rem;
    font-size: 1.7rem;
  }
  /* .modal-items-list {
    padding: 0.3rem;
  } */
  .order-btn {
    flex: 0 0 58px;
  }
  .close-modal-btn,
  .add-cart-btn {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .modal-content {
    width: 70%;
    height: 90%;
    /*전체 100% 기준*/
    /* max-width: 700px; */
    /* max-height: 800px; */
    max-width: 60vw;
    max-height: 80vh;
  }
  .modal-content h2 {
    flex: 0 0 70px;
    padding-left: 1.15rem;
    font-size: 1.8rem;
  }
  /* .modal-items-list {
    padding: 0.325rem;
  } */
  .order-btn {
    flex: 0 0 60px;
  }
  .close-modal-btn,
  .add-cart-btn {
    font-size: 1.4rem;
  }
  .close-modal-btn .icon,
  .add-cart-btn .icon {
    font-size: 1.5rem;
  }
}
